<!-- footer start -->
<footer class="footer-sec footer2">
    <div class="section-overlay sec-pt">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xl-3">
                    <div class="footer-widget">
                        <div class="footer-widget-logo">
                            <a href="/"><img src="assets/images/logo/logo1.png" alt="site-logo" /></a>
                        </div>
                        <div class="footer-widget-content">
                            <p class="ft-text">Mauris ut enim sit amet lacus ornare ullamcor. Praesent placerat nequ puru rhoncu tincidunt odio ultrices. Sed odio feugiat feugiat felis.</p>
                            <div class="footer-social">
                                <div class="footer-social-icon d-flex">
                                    <a href="https://www.facebook.com/" target="_blank"> <i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                                    <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 offset-xl-1 col-xl-2">
                    <div class="footer-widget">
                        <h4 class="footer-widget-title tx-white">Our Services</h4>
                        <div class="footer-widget-content">
                            <div class="footer-links">
                                <ul>
                                    <li>
                                        <a href="/practice-details">Tech Solutions</a>
                                    </li>
                                    <li>
                                        <a href="/practice-details">Digital Marketing</a>
                                    </li>
                                    <li>
                                        <a href="/practice-details">Web Development</a>
                                    </li>
                                    <li>
                                        <a href="/practice-details">IT Consulting</a>
                                    </li>
                                    <li>
                                        <a href="/practice-details">Data Analytics</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 offset-xl-1 col-xl-2">
                    <div class="footer-widget pages-links">
                        <h4 class="footer-widget-title tx-white">Useful Links</h4>
                        <div class="footer-widget-content">
                            <div class="footer-links">
                                <ul>
                                    <li><a href="/about">What We Do</a></li>
                                    <li><a href="/testimonial">Our Team</a></li>
                                    <li><a href="/case-studies">Faq ask</a></li>
                                    <li><a href="/attorneys">Contact Us</a></li>
                                    <li><a href="/blogs-with-sidebar">Privacy & Terms</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="footer-widget">
                        <h4 class="footer-widget-title tx-white">Recent Post</h4>
                        <div class="footer-widget-content">
                            <div class="footer-recent-post">
                                <ul>
                                    <li class="blog-sidebar-box-item blog-item d-flex">
                                        <!-- blog sidebar box item 1 -->
                                        <div class="img-box">
                                            <img src="assets/images/blog/recent1.png" alt="blog" />
                                        </div>
                                        <div class="content-box">
                                            <div class="meta-box">
                                                <ul class="meta-info">
                                                    <li>
                                                        <div class="icon">
                                                            <i class="flaticon-calendar"></i>
                                                        </div>
                                                        <span><a href="#">Oct 2, 2023</a></span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="title-box">
                                                <h3><a href="#">Efficiency redefined through technology.</a></h3>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="blog-sidebar-box-item blog-item d-flex">
                                        <!-- blog sidebar box item 2 -->
                                        <div class="img-box">
                                            <img src="assets/images/blog/recent2.png" alt="blog" />
                                        </div>
                                        <div class="content-box">
                                            <div class="meta-box">
                                                <ul class="meta-info">
                                                    <li>
                                                        <div class="icon">
                                                            <i class="flaticon-calendar"></i>
                                                        </div>
                                                        <span><a href="#">Nov 30, 2023</a></span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="title-box">
                                                <h3><a href="#">IT Solution for your Company.</a></h3>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sx-12 p-0">
                    <hr class="footer-hr" />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row footer-copyright">
                <div class="col">
                    <div class="footer-copyright-text text-center">
                        <p class="mb-0">© <a href="#">MirrorTheme</a> 2023. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
